<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Test.dll" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <connectionStrings>
    <add name="ConversationDataContextConnectionString"
          providerName="System.Data.SqlClient"
          connectionString="Server=tcp:team02-server.database.windows.net,1433;
                  Initial Catalog=healthee-sqldb;
                  Persist Security Info=False;
                  User ID=chatbot02;
                  Password={your_password};
                  MultipleActiveResultSets=False;
                  Encrypt=True;
                  TrustServerCertificate=False;
                  Connection Timeout=30;" />
  </connectionStrings>
</configuration>
<!--ProjectGuid: -->